.button-flat-primary {
	background-color: #CC4B23;
	color: #E6E1CE;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	-o-border-radius: 3px;
  	border-radius: 3px;
  	width: 100% !important;
}

.button-small {
  font-size: 12px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 227, ../scss/buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

div.alert-box{display:block;padding:6px 7px 7px;font-weight:bold;font-size:14px;color:#fff;background-color:#2ba6cb;border:1px solid rgba(0,0,0,0.1);margin-bottom:12px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;text-shadow:0 -1px rgba(0,0,0,0.3);position:relative}
div.alert-box.success{background-color:#5da423;color:#fff;text-shadow:0 -1px rgba(0,0,0,0.3)}
div.alert-box.alert{background-color:#c60f13;color:#fff;text-shadow:0 -1px rgba(0,0,0,0.3)}